/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 500px;
    background: #0f2a3a;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

/* Título */
.container h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 26px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    background: #22c55e;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16a34a;
}

/* Resultado */
#resultado {
    margin-top: 20px;
    padding: 15px;
    background: #0f2a3a;
    border-radius: 10px;
}

#resultado p {
    margin-bottom: 8px;
    font-size: 14px;
}
