@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');

/* Estilo do cabeçalho */
header {
    background-image: url('placas-energia.png'); 
    background-size: cover; 
    background-position: center;
    padding: 100px 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }

/* Título do site */
header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 95px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #ffffff;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.7);
    margin-bottom: 30px;
    animation: fadeInUp 1s ease;
  }
/* Lista de navegação */
  header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
  }
/* Cada item da lista */
   header nav ul li {
    display: inline-block;
  }

  /* Links como botões */
  header nav ul li a {
    display: inline-block;
    background-color: #16a34a;
    color: white;
    padding: 18px 32px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 74, 173, 0.3);
    font-size: 20px;
  }

  /* Animação ao passar o mouse */
  header nav ul li a:hover {
    transform: scale(1.08);
    background-color: #16a34a;
    box-shadow: 0 8px 20px rgba(8, 71, 3, 0.4);
    color:black;
  }

/* Animação suave ao carregar */
   @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Estilo global */
body {
    font-family: 'Poppins', sans-serif; /* Aplicando a fonte Roboto */
    margin: 0;
    padding: 0;
    background-color: #0f2a3a;
    color: #333;
}

  /* Estilo das seções */
main {
    width: 1200px; /* Largura do conteúdo */
    margin:  auto; /* Centraliza o conteúdo */
    padding: 20px; /* Espaçamento interno */
}

/* Seção de introdução */
main section:first-of-type {
    background-color: #f4f4f4;
    padding: 40px 20px;
    text-align: left;
    border-radius: 12px;
    margin: 40px auto;
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main section:first-of-type h2 {
    font-size: 45px;
    color: #16a34a;
    margin-bottom: 15px;
    font-weight: 700;
}

main section:first-of-type p {
    font-size: 22px;
    line-height: 1.6;
    color: #333;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

section {
    margin-bottom: 30px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-5px);
}

nav ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0; /* Remove o padding padrão */
    margin: 0; /* Remove a margem padrão */
}

nav ul li {
    display: inline; /* Exibe os itens da lista em linha */
    margin: 0 15px; /* Adiciona margem lateral entre os links */
}

main a {
    display: inline-block;
    background-color: #16a34a;
    color: white;
    padding: 16px 50px;
    border-radius: 10px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 74, 173, 0.3);
    font-size: 20px;
    
}

main a:hover {
    color: #000000; /* Cor ao passar o mouse */
}
.form-group {
    margin-bottom: 15px; /* Espaçamento entre os campos */
}

label {
    display: block; /* Faz o label ocupar toda a largura */
    margin-bottom: 5px; /* Espaçamento abaixo do label */
    font-weight: bold; /* Negrito para os labels */
}

   /* Rodapé */
footer {
    text-align: center;
    padding: 30px;
    background-color: #0d2636;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
}
